div{
    flex:1;
}

input{
    padding: 15px 15px;
    border: 2px solid #eee;
    margin-top: 10px;
    border-radius: 6px;
    min-width: 95%;
    font-size: 14px;
}

ul{
    list-style: none;
    background-color: #fff;
    border-radius: 2px;
    border: 2px solid #eee;
}

li{
    padding: 5px;
    cursor: pointer;
    font-weight: 600;
}

li:nth-child(even) {
    background: #eee;
}

